.certificate{
    /* background-position: center center;
    background-repeat: no-repeat;
    background-color: orange;
    background-size:contain; */
    width: 900px;
    height: 640px;
} 

.certificate_protected{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    }

#certificate_pdf img{
    width: 1200px;
}